doctype html
html
  head
    title Library Manager
    link(rel='stylesheet', href='/stylesheets/style.css' type='text/css')
  nav
    ul
      li
        a(href='/all_books') Books
      li
        a(href='/all_patrons') Patrons
      li
        a(href='/all_loans') Loans
  body
    block content
